html {
    height:100%;
    width:100%;
}

body {
    font-family: 'Overpass', sans-serif;
    text-align: center;
    align-content:center;
    background-color:#202830;
    color:#ffffff;
    height:100%;
    width:100%;
    margin: 0;
}

#fullscreen{
    width: 50px;
    height: 50px;
    top: 10px;
    right: 10px;
    position: absolute;
}

#game {
    height: calc(100% - 25px);
    width: 100%;
    position: relative;
}

.jspsych-display-element, .jspsych-content-wrapper {
    height: 100%;
    width: 100%;
}

#buttonbar{
    height: 25px;
    width: 100%;
    background-color: grey;
    opacity: 1;
    z-index: 5;
}

#sound{
    position: absolute;
    height: 25px;
    width: 25px;
    right: 55px;
}

#fullscreenh{
    position: absolute;
    height: 25px;
    width: 25px;
    right: 25px;
}

/*#music{
    position: absolute;
    height: 25px;
    width: 25px;
    right: 85px;
}*/

/*.material-icons{
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}*/
/*------------------------------*/
body{
    font-family: 'Overpass', sans-serif;
    margin: 0;
}

#tutorialSignFrame{
    width: 100%;
    position: absolute;
    top: 20%;
    z-index: 10;
}

#tutButton{
    display: inline-block;
    position: absolute;
    background-color: yellow;
    color: black;
    bottom: 10px;
    right: 1em;
    padding: 0.2em 1em;
    font-weight: bold;
    z-index: 52;
}

#tutButton:active{
    background-color: #ffd001;
}

#tutorialSign{
    width: 100%;
    top: 50%;
    position: relative;
    z-index: 51;
}

#tutorialText{
    position: absolute;
    width: 50%;
    height: 90%;
    top: 3%;
    left: 25%;
    display: flex;
    align-items: center;
}

#countdownFrame{
    width: 80%;
    position: absolute;
    top: 20%;
    left: 10%;
    height: 50%;
    z-index: 3;
}

#countdownFrame2{
    width: 80%;
    position: absolute;
    top: 20%;
    left: 10%;
    height: 50%;
    z-index: 3;
}

#countdownFrame3{
    width: 80%;
    position: absolute;
    top: 20%;
    left: 10%;
    height: 50%;
    z-index: 3;
}

#countDown1{
    width: 100%;
    position: relative;
    visibility: hidden;
    height: 100%;
    z-index: 20;
}

#countDown2{
    width: 100%;
    position: relative;
    visibility: hidden;
    height: 100%;
    z-index: 20;
}

#countDown3{
    width: 100%;
    position: relative;
    visibility: hidden;
    height: 100%;
    z-index: 20;
}

#introText{
    font-family: 'Overpass', sans-serif;
    font-size: 2.5vw;
    line-height: 1.25em;
    margin: 3%;
    padding: 1em 0.5em;
    text-align: left;
    height: 75%;
    z-index: 51;
}

#tutorialSignFrame2{
    width: 30%;
    position: absolute;
    z-index: 10;
    right: 0;
    top: 20%;
}

#tutorialSign2{
    visibility: hidden;
    width: 100%;
}

#tutorialText2{
    position: absolute;
    width: 74%;
    background-color: #22aa44;
    visibility: hidden;
    height: 71%;
    top: 13%;
    left: 10%;
}

#introText2{
    font-family: 'Overpass', sans-serif;
    font-size: 1.5vw;
    line-height: 1.5em;
    text-align: left;
    margin: 0;
}

/*------------------------------*/

#frame{
    width: 1000px;
    height: 600px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.redSquare{
    position: absolute;
    width: 5%;
    height: 25%;
    z-index: -1;
}

@media only screen and (max-width: 1500px) { /*device has less than 1500 px screen width*/

    #frame {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 2;
    }

    #redSquare1 {
        z-index: 2;
    }

    #redSquare2 {
        z-index: 2;
    }

    #redSquare3 {
        z-index: 2;
    }

    #redSquare4 {
        z-index: 2;
    }

    #redSquare5 {
        z-index: 2;
    }

    #redSquare6 {
        z-index: 2;
    }
}

#laneBound1{
    position: absolute;
    width: 1%;
    height: 125%;
}

#laneBound2{
    position: absolute;
    width: 1%;
    height: 125%;
}

.laneBox{
    position: absolute;
    width: 5%;
    height: 12.5%;
}

.policeCar{
    width: 10%;
    height: 30%;
    position: absolute;
    z-index: 2;
}

#fullScreen{
    width: 4%;
    height: 4%;
    position: absolute;
    z-index: 3;
}

#sportsCar{
    width: 7.5%;
    height: 20%;
    position: absolute;
    z-index: 2;
}

.roadLine{
    width: 1%;
    position: absolute;
    height: 125%;
    top: -25%;
    background: repeating-linear-gradient(0deg, white, white 10%, transparent 10%, transparent 20%);
}

@media only screen and (max-aspect-ratio: 1/1) {
    .roadLine {
        background: repeating-linear-gradient(0deg, white, white 5%, transparent 5%, transparent 10%);
    }
}

#overlay {
    width: 200px;
    height: 102px;
    background-color: #00000099;
    position: absolute;
    z-index: 2;
    top: 2%;
    /* padding: 10px; */
    /*font-size: 18px;*/
    /*font-family: 'Overpass';*/
    /*color: white;*/
    /*line-height: 30px;*/
}

#trackOverlay {
    width: 150px;
    height: 300px;
    background-color: #00000099;
    position: absolute;
    z-index: 2;
    top: 20%;
    /* padding: 10px; */
    /*font-size: 18px;*/
    /*font-family: 'Overpass';*/
    /*color: white;*/
    /*line-height: 30px;*/
}
#player1-icon{
    position: absolute;
    background-color: #e01c1c;
    width: 20px;
    height: 30px;
    top: 85%;
    left: 10%;
    z-index: 3;

}

#finishLine{
    position: absolute;
    color: #ffffff;
    width: 90%;
    height: 1%;
    top: 10%;
    left: 5%;
    z-index: 3;
    border-bottom: 1px solid white;
}

#timer-label {
    /*display: inline-block;
    width: 60%;
    font-weight: 700;
    color: #F49661;
    left: 5%;*/

    position: absolute;
    z-index: 3;
    width: 55%;
    height: 20%;
    left: 5%;
    top: 16%;
    font-family: 'Overpass', sans-serif;
    font-weight: 100;
    font-size: 22px;
    text-align: left;
    opacity: 100;
}

#lineSeparator {
    position: absolute;
    color: #ffffff;
    width: 90%;
    height: 1%;
    top: 50%;
    left: 5%;
    z-index: 3;
    border-bottom: 1px solid white;
}

#Time {
    position: absolute;
    z-index: 5;
    width: 50%;
    height: 40%;
    top: 15%;
    right: 5%;
    color: #f3e511;
    font-family: 'Overpass', sans-serif;
    font-size: 22px;
    font-weight: 400;
    text-align: right;
}

#score-label {
    position: absolute;
    z-index: 3;
    width: 55%;
    height: 20%;
    left: 5%;
    top: 60%;
    font-family: 'Overpass', sans-serif;
    font-weight: 100;
    font-size: 22px;
    color: #ffffff;
    text-align: left;
}

#Trucks {
    position: absolute;
    z-index: 5;
    width: 50%;
    height: 40%;
    top: 61%;
    right: 5%;
    color: #00ff00;
    font-family: 'Overpass', sans-serif;
    font-size: 24px;
    font-weight: 400;
    text-align: right;
}

#container {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    margin: 0 auto;
    background: #1E4DE9;
    /*background: #1313D5;*/
    z-index: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@media only screen and (max-width: 1000px){ /*for devices other than ipad and pc*/
    #tutButton{
        display: inline-block;
        position: absolute;
        background-color: yellow;
        color: black;
        bottom: .5em; /*10px*/
        right: .35em; /*1em*/
        /*padding: 0.02em .1em; /*.02em .1em*/
        font-weight: bold;
        font-size: 1em;
        z-index: 52;
    }

    #introText{
        font-family: 'Overpass', sans-serif;
        font-size: 3.25vw;
        line-height: 1.25em;
        margin: 3%;
        padding: 1em 0.5em;
        text-align: left;
        height: 75%;
        z-index: 51;
    }

    #introText2{
        font-family: 'Overpass', sans-serif;
        font-size: 2.25vw;
        line-height: 1.5em;
        text-align: left;
        margin: 0;
    }

    #overlay{
        width: 20%;
        height: 25%;
    }

    #trackOverlay{
        width: 20%;
        height: 25%;
    }

    #timer-label{
        font-size: inherit;
    }

    #Time{
        right: 10%;
        font-size: inherit;
    }

    #score-label{
        font-size: inherit;
    }

    #Trucks{
        right: 10%;
        font-size: inherit;
    }
}

/* force landscape orientation*/
@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
    html {
        transform: rotate(-90deg);
        transform-origin: left top;
        width: 100vh;
        height: 100vw;
        overflow-x: hidden;
        position: absolute;
        top: 100%;
        left: 0;
    }
}
